Source: ros-rolling-quaternion-operation
Section: misc
Priority: optional
Maintainer: Masaya Kataoka <ms.kataoka@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-googletest <!nocheck>, libeigen3-dev, libgeometry-msgs-dev, libtf2-ros-dev, python3-geometry-msgs, python3-tf2-ros, ros-geometry-msgs, ros-rolling-ouxt-lint-common <!nocheck>, ros-rolling-rclcpp, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-quaternion-operation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ament-cmake, libeigen3-dev, libgeometry-msgs-dev, libtf2-ros-dev, python3-geometry-msgs, python3-tf2-ros, ros-geometry-msgs, ros-rolling-rclcpp, ros-rolling-ros-workspace
Description: The quaternion_operation package
